{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('build/home.css') }}"/>
{% endblock %}


{% block title %}Hello HomeController!
{% endblock %}


{% block body %}
	<div class="first">
		<div class="history">
			<h1>Historique de génération :
			</h1>
			<div class="image-history">
				{% for image in screenshot_list %}
					<li class="history-item">
						<img src="{{ asset('/upload/' ~ image.name)}}" alt="" id="imageToCopy"></li>
				{% endfor %}
			</div>
		</div>
		<div class="generated">
			<h1>Derniere image générée :
			</h1>
			<div class="image-container">
				<img src="{{ asset('/upload/' ~ image)}}" alt="" id="imageToCopy">
			</div>
		</div>
	</div>
</div>{% endblock %}
