@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");

body {
  background-color: orange;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;

  .first {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    .history {
      max-width: 15%;

      .image-history {
        list-style: none;
        display: flex;
        flex-direction: column;

        .history-item {
          display: flex;
          max-width: 100%;
          margin-bottom: 10px;

          img {
            max-width: 100%;
          }
        }
      }
    }
    .generated {
      max-width: 80%;

      .image-container {
        display: flex;
        max-height: 80vh;
        max-width: 80%;
        img {
          display: flex;
          max-width: 100%;
          object-fit: contain;
        }
      }
    }
  }
}
