<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
	</head>

	<body>
		<style>

			.synthesis-list {
				display: flex;
				flex-wrap: wrap;
				flex: 1 1 40px;
				align-items: flex-start;
				/*overflow-x: none;
        overflow-y: scroll;*/
				justify-content: left;
				padding: 0 12px;
				margin: 1rem auto 0;
				font-family: 'Lato', sans-serif;
				min-width: 368px;
				max-width: 1125px;
				width: fit-content;
			}

			.synthesis-card {
				width: 360px;
				min-height: 180px;
				box-shadow: 0 3px 6px rgba(0, 0, 0, 15%);
				border-radius: 15px;
				margin: 4px;
				background: #fff;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-start;
			}

			.synthesis-card h4 {
				color: #008476;
				font-size: 16px;
				margin: 1rem;
			}

			.synthesis-card label {
				font-size: 12px;
				margin: 0 0 0 1rem;
				color: #1f1f1f;
			}

			.synthesis-card ul {
				margin: 0.25rem 0 0.75rem 0.25rem;
				font-size: 10px;
				min-width: 90%;
				max-width: 90%;
			}

			.synthesis-card ul li {
				font-size: 10px;
				min-width: 100%;
				max-width: 100%;
				color: #707070;
			}

			.synthesis-card ul li em {
				color: #B5B5B5;
			}
		</style>
		<div class="synthesis-list">

			{% for number in 1..repeat_loop %}
				<div class="synthesis-card">
					<div>
						<h4>Title</h4>
						<div>
							<label>Mesure de controle</label>
							<ul>

								<li>
									Exemple de contenu 1
								</li>
								<li>
									Exemple de contenu 2
								</li>
								<li>
									Exemple de contenu 3
								</li>
								<li>
									Exemple de contenu 4
								</li>
								<li>
									Exemple de contenu 5
								</li>
							</ul>
						</div>
						<div>
							<label>
								Mesure de prevention
							</label>
							<ul>

								<li>
									Exemple de contenu 1
								</li>
								<li>
									Exemple de contenu 2
								</li>
								<li>
									Exemple de contenu 3
								</li>
								<li>
									Exemple de contenu 4
								</li>
								<li>
									Exemple de contenu 5
								</li>
								<li>
									Exemple de contenu 6
								</li>
							</ul>
						</div>
					</div>
				</div>
			{% endfor %}


		</body>
	</body>
</html>
